<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Fasilitas</title>
</head>
<body>
    <h1>Tambah Data Fasilitas</h1>
    <form action="/simpan" method="post">
        <label>Kolam Renang:</label>
        <input type="text" name="kolam_renang"><br>
        <label>Lift:</label>
        <input type="text" name="lift"><br>
        <label>Kamera:</label>
        <input type="text" name="kamera"><br>
        <label>Tahun:</label>
        <input type="number" name="tahun"><br>
        <input type="submit" value="Simpan">
    </form>
    
</body>
</html>
